
<div class="container ">
    <h2 class="border-bottom border-2 mt-2">Admin Dashboard</h2>
    <div class="d-flex justify-content-around mt-5">
    <div class="card zoomCard" style="width: 18rem;">
        <img class="card-img-top" height="200px" src="https://images.pexels.com/photos/7578816/pexels-photo-7578816.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
        <div class="card-body bg-warning">
          <h4 class="card-title d-flex justify-content-center">Tests Available</h4>
          <p class="card-text">1</p>
        </div>
      </div>
      <div class="card zoomCard" style="width: 18rem;">
        <img class="card-img-top" height="200px" src="https://img.freepik.com/free-vector/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg?q=10&h=200" alt="Card image cap">
        <div class="card-body bg-info">
          <h4 class="card-title d-flex justify-content-center">Centers Available</h4>
          <p class="card-text">1</p>
        </div>
      </div>
      <div class="card zoomCard" style="width: 18rem;">
        <img class="card-img-top" height="200px" src="https://media.istockphoto.com/id/1166986797/vector/people-standing-in-line-waiting-for-administration-cartoon-vector-illustration.jpg?s=612x612&w=0&k=20&c=pMhBg20bW_UQGqvUv90llQRyns9heCVMpS9cnYWxjNg=" alt="Card image cap">
        <div class="card-body bg-success">
          <h4 class="card-title d-flex justify-content-center">Registered Patients</h4>
          <p class="card-text">1</p>
        </div>
      </div>
      <div class="card zoomCard" style="width: 18rem;">
        <img class="card-img-top" height="200px" src="https://media.istockphoto.com/id/1140567477/vector/male-doctor-answers-the-phone-work-in-a-medical-clinic.jpg?s=612x612&w=0&k=20&c=B5wRX3NjRcBBvcARUm7dXywYMTAZonHmXmUbnasKdUA=" alt="Card image cap">
        <div class="card-body bg-danger">
          <h4 class="card-title d-flex justify-content-center">New Appointments</h4>
          <p class="card-text">1</p>
        </div>
      </div>
    </div>
    </div>