<div>
    
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: rgb(60, 179, 230);">
        
        <div class="container-fluid">
        
            <p class="navbar-brand" style="width: 10%;">Health Appointment System</p>
        <div style="width: 50%" class="mt-4">
            <ul class="navbar-nav fw-bold">
                <li class="nav-item ms-5">
                    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>   
                <li class="nav-item ms-5">
                    <a class="nav-link" routerLink="/tests">Tests</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" routerLink="/testCenter">Center</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" href="*">Patients</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" href="*">Appointments</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" href="*">Logout</a>
                </li>
            </ul>
        </div>
        <p class="navbar-brand" style="width: 9%;">Welcome Admin!</p>
    </div>
    </nav>    
</div>
<router-outlet></router-outlet>