<div>
    
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: rgb(60, 179, 230);">
        
        <div class="container-fluid">
        
            <p class="navbar-brand" style="width: 20%;">HealthAppointmentSystem</p>
        <div style="width: 20%;">
            
            <ul class="navbar-nav fw-bold">
                <li class="nav-item ms-5">
                    <a routerLink="/">Home</a>
                </li>
                <li class="nav-item ms-5">
                    <a routerLink="*">About</a>
                </li>
                <li class="nav-item ms-5">
                    <a routerLink="login">Login</a>
                </li>
                <li class="nav-item ms-5">
                    <a routerLink="register">Register</a>
                </li>
            </ul>
        </div>
        <form class="d-flex input-group w-auto" style="width: 60%;">
            <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-primary" type="button"> Search </button>
          </form>
    </div>
    </nav>
    <!-- <h1 class="text-center">HEALTH APPOINTMENT SYSTEM</h1>
     -->
        
     <router-outlet></router-outlet>
   
     <div>

        <footer class="bg-light text-center text-dark ">
      
          <div class="container p-4 d-flex justify-content-around">
      
              <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
      
                <h5 class="text-uppercase mb-4">About us</h5>
      
                <p>
      
                  line1
      
                </p>
      
                <p>
      
                  line2
      
                </p>
      
                <div class="mt-4">
      
                  <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
      
                  <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i></a>
      
                  <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>
      
                  <a type="button" class="btn btn-floating btn-light btn-lg"><i
      
                      class="fab fa-google-plus-g"></i></a>
      
                </div>
      
              </div>
      
              <div>
      
                <h5 class="text-uppercase mb-5">Contact Details</h5>
      
                <ul class="fa-ul" style="margin-left: 1.65em;">
      
                  <li class="mb-3">
      
                    <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Healthcare,
      
                      sector-18
      
                      Greater Noida</span>
      
                  </li>
      
                  <li class="mb-3">
      
                    <span class="fa-li"><i class="fas fa-envelope"></i></span><span
      
                      class="ms-2">healthcare@gmail.com</span>
      
                  </li>
      
                  <li class="mb-3">
      
                    <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+91-
      
                      7087609769</span>
      
                  </li>
      
                </ul>
      
              </div>
      
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      
                <h5 class="text-uppercase mb-4">Opening hours</h5>
      
                <table class="table text-center text-white w-10">
      
                  <tbody class="fw-normal">
      
                    <tr>
      
                      <td>Mon - Thu:</td>
      
                      <td>8am - 9pm</td>
      
                    </tr>
      
                    <tr>
      
                      <td>Fri - Sat:</td>
      
                      <td>8am - 1am</td>
      
                    </tr>
      
                    <tr>
      
                      <td>Sunday:</td>
      
                      <td>9am - 10pm</td>
      
                    </tr>
      
                  </tbody>
      
                </table>
      
              </div>
      
          </div>
      
          <div class="text-center p-3" style="background-color: rgba(120, 147, 158, 0.39);">
      
            @2020 Copyright:
      
            <a href="#">healthservicesbygroup3.com</a>
      
          </div>
      
        </footer>
      
      </div>



<!-- <app-navbar></app-navbar> -->
<!-- <app-dashboard></app-dashboard> -->

<!-- <app-admin-navbar> </app-admin-navbar> -->
<!-- <router-outlet></router-outlet> -->
