
<div class="container w-50 mt-5 border border-primary border-2 rounded mb-4">
    <h4 class="text-primary m-2">Register Patient</h4>
    <hr class="hr" style="background-color: blue; height: 2px; border: none;">
    <div class="">
        <div class="d-flex align-items-center">
            <form action="" class="w-50 p-5" [formGroup]="registerForm" (ngSubmit)="submit()">
                <div class="mb-3 form-group">
                    <input type="text" class="form-control mb-1" formControlName="name" placeholder="Your Name"  name="name">
                        <div class="error-message" *ngIf="!registerForm.get('name')!.valid && registerForm.get('name')!.touched">
                            <small class="text-danger">Invalid name</small>
                        </div>
                </div>
                <div class="mb-3 form-group">
                    <input type="number" class="form-control mb-1" formControlName="age" placeholder="Your Age" name="age">
                        <div class="error-message" *ngIf="!registerForm.get('age')!.valid && registerForm.get('age')!.touched">
                            <small class="text-danger">Invalid age</small>
                        </div>
                    
                </div>
                <!-- <div class="mb-3 form-group"> -->
                    <!-- <input type="text" class="form-control mb-1" formControlName="gender" placeholder="Your Gender" name="gender"> -->
                        <!-- <div class="error-message" [hidden]="gender.valid||gender.untouched">
                            <small class="text-danger">Gender invalid</small>
                        </div> -->
                <!-- </div> -->
                <select class="form-control mb-3 form-group" formControlName="gender">
                    <option [ngValue]="" selected disabled>Select Gender</option>
                        <option  *ngFor="let gender of allGenders" [ngValue]="gender">{{gender}}</option>
                    <div class="error-message"  *ngIf="!registerForm.get('gender')?.valid && registerForm.get('gender')?.touched">
                        <small class="text-danger">Invalid email</small>
                    </div>
                </select>
                <div class="mb-3 form-group">
                    <input type="email" class="form-control mb-1" placeholder="Your Email" formControlName="email" name="email">
                        <div class="error-message"  *ngIf="!registerForm.get('email')!.valid && registerForm.get('email')!.touched">
                            <small class="text-danger">Invalid email</small>
                        </div>
                </div>
                <div class="mb-3 form-group">
                    <input type="password" class="form-control mb-1" placeholder="Your Password" formControlName="password" name="password">
                        <div class="error-message"  *ngIf="!registerForm.get('password')?.valid && registerForm.get('password')?.touched">
                            <small class="text-danger">Invalid password</small>
                        </div>
                        
                </div>
                <div class="mb-4 form-group">
                    <input type="password" class="form-control mb-1" formControlName="confirmPassword" placeholder="Confirm Password">
                        <div class="error-message" *ngIf="(registerForm.errors?.['passwordMatchError'] && !registerForm.get('confirmPassword')?.valid && registerForm.get('confirmPassword')?.touched) || (!registerForm.get('confirmPassword')?.valid && registerForm.get('confirmPassword')?.touched)">
                            <small class="text-danger">Invalid password</small>
                        </div> 
                        <div class="error-message" *ngIf="registerForm.errors?.['passwordMatchError']">
                            <small class="text-danger">Password not matching</small>
                        </div> 
                </div>
                
                <div class="mb-3 text-center">
                    <button class="btn btn-primary w-50" type="submit" [disabled]="!registerForm.valid">Register</button>
                </div>
                <div class="mb-3">
                    <p class="text-center">Already have an account <a href="/login">Login!</a></p>
                </div>
            </form>
            <img src="/assets/images/patient-on-doctor-appointment.jpg" alt="StockImage" class="img-fluid" class="w-50">
        </div>
    </div>    
</div>